
body {
	font-family: 'Droid Serif' serif;
	float: left;
	margin-bottom: 50px;
}

.container {
	margin: auto 10%;
}

.container img {
	margin-bottom: 20px;
	width: 100%;
}

.left, .right {
	margin-top: 20px;
}

.left {
	float: left;
	width: 60%;
	margin-top: 20px;
}

.right {
	float: right;
	width: 39%;
	text-align: right;
}

p {
	line-height: 1.6em;
	margin-top: 0;
}

a {
	color: black;
}

h1, h2 {
	font-family: "Merriweather" serif;
}

h1 {
	text-align: center;
	font-size: x-large;
	margin-bottom: 20px;
}

h2 {
	font-size: large;
	margin-top: 24px;
	margin-bottom: 6px;
}

ul {
	list-style: none;
	line-height: 2em;
	padding-left: 0;
	margin-top: 0;
}

.breadcrumbs {
	margin-bottom: 30px;
	color: #222;
}

.breadcrumbs > a {
	color: #222;
}

@media screen and (max-width: 700px) {
	.container {
		margin: auto 0;
	}

	.left, .right {
		width: 100%;
	}

	.right {
		text-align: left;
	}
}
