.container {
	width: 800px;
	margin: auto;
}

.container img {
	width: 800px;
	margin-bottom: 20px;
}

.left {
	float: left;
	width: 60%;
}

.right {
	float: right;
	width: 40%;
	text-align: right;
}
