body {
	font-family: serif;
}

.container {
	margin: auto 10%;
}

.container img {
	margin-bottom: 20px;
	width: 100%;
}

.left {
	float: left;
	width: 60%;
}

.right {
	float: right;
	width: 40%;
	text-align: right;
}

a {
	color: black;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: x-large;
}

ul {
	list-style: none;
	line-height: 2em;
}

.breadcrumbs {
	margin-bottom: 50px;
}
